/* Global */
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

/* Base */
body {
  font-family: "Rubik", sans-serif;
  min-height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
  transition: background-color 0.3s ease, color 0.3s ease;
  background-image: var(--background-theme);
  color: var(--text-theme);
}

/* Default Theme (Dark) */
:root {
  --background-theme: linear-gradient(
    to bottom right,
    rgba(29, 5, 72, 1),
    rgba(20, 29, 51, 1),
    rgba(15, 22, 40, 1),
    rgba(5, 10, 22, 1)
  );
  --text-theme: white;
  --logo-color: white;
  --navlink-color: #b4b4b4;
  --navlink-active: white;

  --button-gradient: linear-gradient(45deg, #9747ff, #5c27d6);
  --home-button-gradient: linear-gradient(45deg, #5c27d6, #531dab);
  --home-button-gradient-hover: linear-gradient(45deg, #7141e2, #6a33db);
  --home-button-text: white;

  --title-gradient: linear-gradient(to right, #fff, #9747ff);

  --profile-color: #bc8aee;
  --profile-text: white;

  --toggle-color: #bc8aee;
  --toggle-text: white;

  --sign-color: #bc8aee;
  --team-text: #fff;
  --quote-color: #dfc241;
  --login-border: 1px solid white;
  --login-color: rgb(58, 64, 83);
  --login-hover: rgb(75, 82, 102);
  --checkbox-color: #9747ff;
  --card-shadow: 0px 5px 20px rgba(0, 0, 0, 0.4);
  --placeholder-color: rgba(255, 255, 255, 0.7);

  --sidebar-color: #1e1e1e8a;
  --sidebar-text: #fff;
  --conv-hover: #424242;
  --guest-color: white;
}

/* Light Theme Overrides */
[data-theme="light"] {
  --background-theme: linear-gradient(
    to bottom right,
    rgb(221, 205, 217),
    rgb(223, 202, 202),
    rgb(219, 164, 205),
    rgb(230, 120, 202)
  );
  --text-theme: #000;
  --logo-color: #000;
  --navlink-color: #575656;
  --navlink-active: #000;

  --button-gradient: linear-gradient(45deg, #d14e84, #911542);
  --home-button-gradient: linear-gradient(45deg, #d14e84, #911542);
  --home-button-gradient-hover: linear-gradient(45deg, #b24774, #80163c);
  --home-button-text: #ffffffcc;

  --title-gradient: linear-gradient(to right, #000, #d14e84);

  --profile-color: #911542;
  --profile-text: white;

  --toggle-color: #911542;
  --toggle-text: white;

  --sign-color: #911542;
  --team-text: #333;
  --quote-color: #b8a818;
  --login-border: 1px solid black;
  --login-color: #11111123;
  --login-hover: #11111134;
  --checkbox-color: #d14e84;
  --card-shadow: 0px 5px 20px rgba(0, 0, 0, 0.1);
  --placeholder-color: rgba(46, 46, 46, 0.7);

  --sidebar-color: #11111111;
  --sidebar-text: #333;
  --conv-hover: #ffffffcc;
  --guest-color: black;
}

p,
h2 {
  margin: 0;
  color: inherit; /* Inherit from body */
}
